@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    A site for prototyping web sites, D20 stuff and bullshit.  Probably mostly bullshit.
</p>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">project.zero.director@gmail.com</a><br />
</address>
