@model IEnumerable<ProjectZero.Database.Dto.Composite.ArticleTeaserDto>
@{
    ViewBag.Title = "Home Page";
}

@foreach (var teaser in Model)
{
    <div>
        <hr />
    </div>
    <div class="frontpage">
        <h1>@teaser.Name</h1>
        <p>@teaser.Teaser</p>
        <hr />
        <p><small>Date Published: @teaser.Published.DateTime, Last Edited: @teaser.LastEdited.DateTime</small>        
        </p>
        <p><small>
        @foreach (var tag in teaser.GetTags())
        {
            <span>#@tag, </span>
        }
        </small></p>
    </div>
}

